Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps/
Makefile
config.h
config.log
config.status
libtool
stamp-h1
.libs/
fcmp.lo
fcmp.o
libfcmp.la
debian/
